In [81]:
import pandas as pd

# Leitura da base de Dados
df = pd.read_csv("Base_Uber.csv")
df.head(2)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI

In [93]:
# Substituir valores nulos 
df["Reason for cancelling by Customer"] = df["Reason for cancelling by Customer"].fillna("There was no cancellation")
df["Cancelled Rides by Driver"] = df["Cancelled Rides by Driver"].fillna("There was no cancellation")
df["Driver Cancellation Reason"] = df["Driver Cancellation Reason"].fillna("There was no cancellation")
df["Incomplete Rides"] = df["Incomplete Rides"].fillna("0")
df["Incomplete Rides Reason"] = df["Incomplete Rides Reason"].fillna("Complete Race")
df["Booking Value"] = df["Booking Value"].fillna("0")
df["Ride Distance"] = df["Ride Distance"].fillna("0")
df["Customer Rating"] = df["Customer Rating"].fillna("0")
df["Avg VTAT"] = df["Avg VTAT"].fillna("0")
df["Avg CTAT"] = df["Avg CTAT"].fillna("0")

# Tirar as Aspas
df["Booking ID"] = df["Booking ID"].str.replace('"','').str.strip()
df["Customer ID"] = df["Customer ID"].str.replace('"','').str.strip()

In [94]:
linhas, colunas = df.shape
print(f"A Tabela Possui {linhas} Linhas e {colunas} Colunas.")

A Tabela Possui 150000 Linhas e 22 Colunas.

In [96]:
df.head(2)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method,Hours
0,2024-03-23,1900-01-01 12:29:38,CNR5884300,No Driver Found,CID1982111,eBike,Palam Vihar,Jhilmil,0,0,...,There was no cancellation,There was no cancellation,0,Complete Race,0,0,NaN,0,NaN,12.493889
1,2024-11-29,1900-01-01 18:01:39,CNR1326809,Incomplete,CID4604802,Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,There was no cancellation,There was no cancellation,1.0,Vehicle Breakdown,237.0,5.73,NaN,0,UPI,18.027500

In [88]:
# Salva as alteraÃ§Ãµes no novo arquivo CSV
df.to_csv("Base_Limpa.csv", index = False)